PFSENSE_HOST=192.168.10.1
PFSENSE_USER=admin
PFSENSE_PASS=CHANGE_ME
PFSENSE_URL=https://192.168.10.1
PFSENSE_FW_LOG=/var/log/filter.log
PFSENSE_SNORT_LOG=/var/log/snort/alert
PFSENSE_BLOCK_TABLE=Blocked_IPs

UBUNTU_HOST=192.168.10.101
UBUNTU_USER=huyen
UBUNTU_PASS=CHANGE_ME
UBUNTU_BECOME_PASS=CHANGE_ME

VPN_CLIENT_USER=vpn-client-01
VPN_CLIENT_PASS=CHANGE_ME
VPN_CLIENT_BECOME_PASS=CHANGE_ME

TARGET_FW=192.168.10.1
TARGET_SV=192.168.10.101
TARGET_SSH_USER=root
VPN_GW=10.10.10.1
LAB_SUBNET=192.168.10.0/24
DNS_SERVER=8.8.8.8
LAN_NETWORK=192.168.10.0/24
LAN_GATEWAY=192.168.10.1
VPN_NETWORK=10.10.10.0/24
VPN_PORT=1194
SNORT_TABLE=snort2c
CHECK_INTERVAL=5
PORTSCAN_THRESHOLD=10
DOS_THRESHOLD=500
INCIDENTS_LOG=automation/scripts/incidents.log
